{% extends 'base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block body %}

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}


<!--use of carousel from bootstrap-->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active image">
      <img src="static/d4.jpg" class="d-block w-100" alt="...">
      
      <div class="carousel-caption d-none d-md-block">
        <h5>WELCOME TO AAROGYA</h5>
        <p>Official portal to book your appointments</p>
      </div>
    </div>
    <div class="carousel-item image">
      <img src="static/d2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WELCOME TO AAROGYA</h5>
        <p>Official portal to book your appointments</p>
      </div>
    </div>
    <div class="carousel-item image">
      <img src="static/d3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WELCOME TO AAROGYA</h5>
        <p>Official portal to book your appointments</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--for form bss div container phr div row class then col div class
uske andar form -->
{% endblock body %}