{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='signup.css')}}">
{% endblock css %}
{% block title %}
Signup
{% endblock title %}

{% block body %}
<div class="outer">
<div class="container mt-5 myclass">

<div class="row">


<div class="col-md-4">

</div>

<div class="col-md-4 jumbotron">
  <button type="submit" class="btn btn-info btn-sm btn-block">Sign Up Here</button>
<br>


{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}


<form action="/signup" method="POST">

  <div class="form-group">
    <label for="username">UserName</label>
    <input type="text" class="form-control" id="username" name="username" required >
<!--name should be unique it is used in sql part -->
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  
  <button type="submit" class="btn btn-info btn-sm btn-block">Signup</button>
  <button type="button" class="btn btn-info btn-sm btn-block">Login with Google</button>
</form>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Already a User     <a href="/login">&nbsp;&nbsp;&nbsp;&nbsp;-:Login</a>

</div>

<div class="col-md-4">

</div>


</div>

</div>
</div>



{% endblock body %}